@import "./mixin";
@import "./variable";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#gallery{
    display: grid;
    width: 500px;
    height: 600px;
    grid-gap: 10px;
    
    div {
        border-radius: 15px;
        background: url();
        background-color: rgb(216, 216, 216);
        position: relative;
        button{
            @include btn(rgba(255, 255, 255, 0.8),25px,25px);
            visibility: hidden;
            &:hover{
                background-color: white;
            }
        }//button
        .btn_1{
            @include btn($btn_red,50px,40px);
            top: 10px;
            right: 10px;
            &:hover{
                background-color: $btn_blue;
            }
        }
        .btn_2{
            bottom: 10px;
            right: 10px;

        }
        .btn_3{
            bottom: 10px;
            right: 40px;
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
            button{
                visibility: visible;
            }
        }
    }//div

    .img_1{
        @include gridWin(1,2,1,3);
    }
    .img_2{
        @include gridWin(2,3,1,6);
    }
    .img_3{
        @include gridWin(3,4,1,3)
    }
    .img_4{
        @include gridWin(1,2,3,8);
        
    }
    .img_5{
        @include gridWin(2,3,6,12);
    }
    .img_6{
        @include gridWin(3,4,3,8)
    }
    .img_7{
        @include gridWin(1,2,8,12);

    }
    .img_8{
        @include gridWin(3,4,8,12)
    }
}// Gallery

.addition{
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 40px;
    button{
        @include btn(white,30px,30px);
        box-shadow: 0.1px 0.1px 3px #0000004b;
    }
    #add{
        bottom: 10px;
    }
}